
// .toy-app {
// 	display: flex;
// 	flex-direction: column;
// }


.toy-preview {
	box-sizing: border-box;
	color: #222;
	column-gap: 24px;
	display: grid;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-auto-rows: minmax(0, 1fr);
	line-height: 20px;
	margin-block-end: 32px;
	margin-block-start: 8px;
	row-gap: 40px;

	}
	
	button.b1lx45fx.v1qb14d3.dir.dir-ltr {
		svg {
			box-sizing: border-box;
			display: block;
			fill: rgba(0,0,0,.5);
			height: 24px;
			overflow: visible;
			stroke: var(--f-mkcy-f);
			stroke-width: 2;
			width: 24px;
		}
	}
	svg {
		path {
			box-sizing: border-box;
		}
		g {
			box-sizing: border-box;
		}
	}
	
	span.s1dxllyb.dir.dir-ltr {
		svg {
			box-sizing: border-box;
			display: block;
			fill: currentcolor;
			height: 12px;
			width: 12px;
		}
	}
	span._3hmsj {
		svg {
			box-sizing: border-box;
			display: block;
			fill: none;
			height: 12px;
			overflow: visible;
			stroke: currentcolor;
			stroke-width: 4;
			width: 12px;
		}
	}
	g {
		path {
			box-sizing: border-box;
		}
	}

div.c4mnd7m.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: grid;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-template-columns: 100%;
	line-height: 20px;
}
div.c1pbo4kt.cikyho8.dir.dir-ltr {
	--transition-element_transition-delay: 0ms;
	--transition-element_transition-duration: 200ms;
	box-sizing: border-box;
	color: #222;
	display: none;
	flex-direction: column;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-column-end: 2;
	grid-column-start: 1;
	grid-row-end: 2;
	grid-row-start: 1;
	height: 100%;
	line-height: 20px;
	margin: 0;
	opacity: 0;
	padding-top: 0;
	visibility: hidden;
	z-index: 2;
	div {
		box-sizing: border-box;
	}
}
div.m1cp3yuo.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	line-height: 20px;
	margin-bottom: 12px;
}
div.dir.dir-ltr {
	box-sizing: border-box;
}
div.awuxh4x.dir.dir-ltr {
	box-sizing: border-box;
}
div.cw9aemg.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	height: 100%;
	line-height: 20px;
	min-width: 0;
	position: unset;
}
span._8kplbn {
	animation: keyframe_1y07465 1s ease-in-out infinite alternate forwards;
	background-color: currentcolor;
	border-radius: var(--i-g-gvoq);
	box-sizing: border-box;
	color: #222;
	display: block;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	height: 100%;
	line-height: 20px;
	position: relative;
	width: 100%;
}
div.g1wiliwt.cb4nyux.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	column-gap: 8px;
	display: grid;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-template-columns: var(--card-content-grid_template-columns, minmax(0,1fr) max-content );
	line-height: 20px;
	row-gap: 2px;
}
div.a3g92ry.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-column-end: -1;
	grid-column-start: -2;
	grid-row-end: auto;
	grid-row-start: 1;
	justify-self: end;
	line-height: 20px;
	width: 100%;
}
div.f15liw5s.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-column-end: -1;
	grid-column-start: 1;
	line-height: 20px;
}
div.pc0djro.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-column-end: -1;
	grid-column-start: 1;
	line-height: 20px;
	margin-top: 6px;
}
div.c1l1h97y.dir.dir-ltr {
	--transition-element_transition-delay: 0ms;
	--transition-element_transition-duration: 200ms;
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-column-end: 2;
	grid-column-start: 1;
	grid-row-end: 2;
	grid-row-start: 1;
	line-height: 20px;
	div {
		box-sizing: border-box;
	}
}
div {
	div {
		box-sizing: border-box;
	}
}
div.c12h3gv8.dir.dir-ltr {
	border-radius: 12px;
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	line-height: 20px;
	position: relative;
}
a.lwm61be.dir.dir-ltr {
	border-radius: 12px;
	border-radius: 12px;
	box-sizing: border-box;
	color: #222;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 100%;
	height: 100%;
	left: 0;
	line-height: 20px;
	outline: none;
	outline: 0;
	position: absolute;
	text-decoration: none;
	text-decoration: none;
	top: 0;
	width: 100%;
	&:focus-visible {
		box-shadow: 0 0 0 2px rgba(255,255,255,.8),0 0 0 4px #222;
		transition: box-shadow .2s;
	}
	&:focus[data-focus-visible-added] {
		box-shadow: 0 0 0 2px rgba(255,255,255,.8),0 0 0 4px #222;
		transition: box-shadow .2s;
	}
}
div.mz543g6.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	line-height: 20px;
	margin-bottom: 12px;
}
div.c14dgvke.dir.dir-ltr {
	-webkit-mask-image: -webkit-radial-gradient(center,#fff,#000);
	background-color: #ddd;
	border-radius: 12px;
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	line-height: 20px;
	overflow: hidden;
	position: relative;
}
div.cnjlbcx.cp0pqp0.rztl681.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: grid;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-template-areas: "header" "scroller" "footer";
	grid-template-columns: 300.797px;
	grid-template-rows: 0 285.75px 0;
	line-height: 20px;
}
div.dbldy2s.dir.dir-ltr {
	border-width: 0;
	box-sizing: border-box;
	clip: rect(0,0,0,0);
	clip-path: inset(100%);
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	height: 1px;
	line-height: 20px;
	overflow: clip;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
div.c18vjgz6.dir.dir-ltr {
	align-self: auto;
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-column-end: header;
	grid-column-start: header;
	grid-row-end: header;
	grid-row-start: header;
	justify-self: end;
	line-height: 20px;
}
div.i1b9hiva.o1q97y5m.dir.dir-ltr {
	background-color: initial;
	background-image: linear-gradient(transparent 80%,rgba(0,0,0,.25));
	bottom: 0;
	box-sizing: border-box;
	color: #222;
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	left: 0;
	line-height: 20px;
	overflow: hidden;
	padding: 12px 12px 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}
div.tsz9f4o.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: grid;
	flex: 1 0 0;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-template-columns: repeat(2,minmax(0,1fr));
	line-height: 20px;
}
div.t1p13dzz.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	justify-content: flex-start;
	line-height: 20px;
}
div.ts9x1g6.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	justify-content: flex-end;
	line-height: 20px;
}
div.ct5zzj.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	line-height: 20px;
}
button.b1lx45fx.v1qb14d3.dir.dir-ltr {
	-webkit-box-align: center;
	-webkit-box-pack: center;
	align-items: center;
	appearance: button;
	background-color: transparent;
	border-radius: 50%;
	border-style: none;
	box-sizing: border-box;
	color: #222;
	cursor: pointer;
	display: inline-flex;
	font-family: "Circular",-apple-system,"BlinkMacSystemFont","Roboto","Helvetica Neue",sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: calc(24px + 8px);
	justify-content: center;
	line-height: 20px;
	margin: 0;
	outline: none;
	padding: 2px 0 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
	transition: transform .25s;
	width: calc(24px + 8px);
	&:disabled {
		cursor: not-allowed;
		opacity: 1;
	}
	&:focus-visible {
		box-shadow: 0 0 0 2px rgba(255,255,255,.8),0 0 0 4px #222;
		transition: box-shadow .2s;
	}
	&:focus[data-focus-visible-added] {
		box-shadow: 0 0 0 2px rgba(255,255,255,.8),0 0 0 4px #222;
		transition: box-shadow .2s;
	}
	&:active {
		transform: scale(.92);
	}
}
div.m1dum4mk.dir.dir-ltr {
	align-items: center;
	box-sizing: border-box;
	color: #222;
	display: grid;
	flex: 1 0 0;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-template-columns: repeat(2,minmax(0,1fr));
	line-height: 20px;
}
div.m1tlldn6.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	justify-content: flex-start;
	line-height: 20px;
}
div.ms83rji.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	justify-content: flex-end;
	line-height: 20px;
}
div.b1tv82fw.dir.dir-ltr {
	align-items: flex-end;
	box-sizing: border-box;
	color: #222;
	display: grid;
	flex: 1 0 0;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-template-columns: repeat(3,minmax(0,1fr));
	grid-template-rows: minmax(0,1fr);
	line-height: 20px;
}
div.bycbjmy.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	justify-content: flex-start;
	line-height: 20px;
}
div.balhpdq.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	justify-content: center;
	line-height: 20px;
}
div._r752or {
	-webkit-box-align: end;
	-webkit-box-pack: center;
	align-items: flex-end;
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	height: 100%;
	justify-content: center;
	line-height: 20px;
}
div._szn05y {
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	line-height: 20px;
	max-width: 55px;
	overflow: hidden;
	padding-bottom: 12px;
}
div._1b2klj3 {
	-webkit-box-align: end;
	-webkit-box-pack: center;
	align-items: flex-end;
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	justify-content: center;
	line-height: 20px;
	list-style: none;
	list-style: none;
	margin: 0;
	padding: 0;
	transform: translateX(0);
	transition: -ms-transform .2s cubic-bezier(.455,.03,.515,.955), -webkit-transform .2s cubic-bezier(.455,.03,.515,.955), transform .2s cubic-bezier(.455,.03,.515,.955);
}
span._4o74ccl {
	background-color: #fff;
	border-radius: 50%;
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	height: 6px;
	line-height: 20px;
	list-style: none;
	margin-left: 2.5px;
	margin-right: 2.5px;
	min-width: 6px;
	opacity: 1;
	transform: scale(1);
	transition: opacity .2s cubic-bezier(.455,.03,.515,.955);
	width: 6px;
}
span._1k9ksvh {
	background-color: #fff;
	border-radius: 50%;
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	height: 6px;
	line-height: 20px;
	list-style: none;
	margin-left: 2.5px;
	margin-right: 2.5px;
	min-width: 6px;
	opacity: .6;
	transform: scale(1);
	transition: opacity .2s cubic-bezier(.455,.03,.515,.955);
	width: 6px;
}
div.b18glxm4.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	justify-content: flex-end;
	line-height: 20px;
}
div.s1yvqyx7.dir.dir-ltr {
	align-self: auto;
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-column-end: scroller;
	grid-column-start: scroller;
	grid-row-end: scroller;
	grid-row-start: scroller;
	justify-self: auto;
	line-height: 20px;
}
div.c14whb16.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	column-gap: 0;
	contain: layout paint size style;
	contain-intrinsic-height: none;
	contain-intrinsic-width: none;
	display: grid;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-auto-flow: column;
	height: 100%;
	justify-content: flex-start;
	line-height: 20px;
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
	overscroll-behavior-inline: contain;
	row-gap: 0;
	scroll-padding-inline-end: 0;
	scroll-padding-inline-start: 0;
	&:-webkit-scrollbar {
		display: none;
	}
}
a.r35zuq5.dir.dir-ltr {
	box-sizing: border-box;
	color: transparent;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: 100%;
	line-height: 20px;
	text-decoration: none;
	&:focus {
		outline: 0;
	}
}
div.c1s7qkor.dir.dir-ltr {
	box-sizing: border-box;
	color: transparent;
	cursor: pointer;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	height: 100%;
	line-height: 20px;
	position: relative;
	width: 100%;
}
div._1h6n1zu {
	background-position: 50% 50%;
	background-repeat: no-repeat no-repeat;
	box-sizing: border-box;
	color: transparent;
	cursor: pointer;
	display: inline-block;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	height: 100%;
	line-height: 20px;
	min-height: 1px;
	vertical-align: bottom;
	width: 100%;
}
img#FMP-target._6tbg2q {
	box-sizing: border-box;
	color: transparent;
	cursor: pointer;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	height: 0;
	line-height: 20px;
	object-fit: cover;
	position: absolute;
	vertical-align: bottom;
	width: 0;
}
div._15p4g025 {
	background-image: url(https://a0.muscache.com/im/pictures/prohost-api/Hosting-48509375/original/0862735b-4abc-4d87-a8d1-f2fb6053adc8.jpeg?im_w=720);
	background-position: 50% 50%;
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	box-sizing: border-box;
	color: transparent;
	cursor: pointer;
	display: inline-block;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	height: 100%;
	line-height: 20px;
	vertical-align: bottom;
	width: 100%;
}
div.g1tup9az.cb4nyux.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	column-gap: 8px;
	display: grid;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	grid-template-columns: var(--card-content-grid_template-columns, minmax(0,1fr) max-content );
	line-height: 19px;
	row-gap: 2px;
}
div#title_48509375.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div.f15liw5s.s1cjsi4j.dir.dir-ltr {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	box-sizing: border-box;
	color: #717171;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	grid-column-end: -1;
	grid-column-start: 1;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
}
span.dir.dir-ltr {
	box-sizing: border-box;
}
div.p1v28t5c.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	grid-column-end: -1;
	grid-column-start: 1;
	line-height: 19px;
	margin-top: 6px;
	div {
		--pricing-guest-display-price-alignment: flex-start;
		--pricing-guest-display-price-flex-wrap: wrap;
		--pricing-guest-explanation-disclaimer-font-size: 14px;
		--pricing-guest-explanation-disclaimer-line-height: 18px;
		--pricing-guest-primary-line-font-size: 15px;
		--pricing-guest-primary-line-line-height: 19px;
		--pricing-guest-primary-line-qualifier-font-size: 15px;
		--pricing-guest-primary-line-qualifier-line-height: 19px;
		--pricing-guest-primary-line-strikethrough-price-font-weight: 600;
		--pricing-guest-primary-line-trailing-content-font-size: 14px;
		--pricing-guest-primary-line-unit-price-font-weight: var(--jx-zk-pv);
		--pricing-guest-secondary-line-color: #717171;
		--pricing-guest-secondary-line-font-size: 15px;
		--pricing-guest-secondary-line-line-height: 19px;
		box-sizing: border-box;
	}
}
div._i5duul {
	-webkit-box-align: center;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	align-items: center;
	box-sizing: border-box;
	color: #222;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	line-height: 19px;
}
div._1n700sq {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	line-height: 19px;
}
div._1jo4hgw {
	-webkit-box-align: baseline;
	align-items: baseline;
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
}
span._tyxjp1 {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 19px;
}
span._1vylq8i {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
	white-space: nowrap;
}
span.a8jt5op.dir.dir-ltr {
	border-width: 0;
	box-sizing: border-box;
	clip: rect(0,0,0,0);
	clip-path: inset(100%);
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	height: 1px;
	line-height: 19px;
	overflow: clip;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
span.t5eq1io.r4a59j5.dir.dir-ltr {
	-webkit-box-align: center;
	align-items: center;
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	grid-column-end: -1;
	grid-column-start: -2;
	grid-row-end: auto;
	grid-row-start: 1;
	justify-self: end;
	line-height: 19px;
}
span.ru0q88m.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-variant: tabular-nums;
	font-variant-numeric: tabular-nums;
	line-height: 19px;
}
span.s1dxllyb.dir.dir-ltr {
	-webkit-box-align: center;
	align-items: center;
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	line-height: 19px;
	margin-inline-start: 4px;
}
div.nphto6n.niqw8zf.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	line-height: 20px;
	opacity: 0;
	pointer-events: auto;
}
button._1d3iagv {
	-webkit-box-align: center;
	-webkit-box-pack: center;
	align-items: center;
	appearance: none;
	background-clip: padding-box;
	background-color: rgba(255,255,255,.9);
	border: 1px solid rgba(0,0,0,.08);
	border-radius: 50%;
	box-shadow: transparent 0 0 0 1px,transparent 0 0 0 4px,rgba(0,0,0,.18) 0 2px 4px;
	box-sizing: border-box;
	color: #222;
	cursor: pointer;
	display: inline-flex;
	font-family: inherit;
	font-size: 100%;
	height: 32px;
	justify-content: center;
	margin: 0;
	outline: none;
	padding: 0;
	text-align: center;
	touch-action: manipulation;
	transition: -ms-transform .25s, -webkit-transform .25s, transform .25s;
	width: 32px;
	&:focus-visible {
		background-color: #fff;
		border-color: #222;
		box-shadow: #222 0 0 0 1px,#fff 0 0 0 4px,rgba(0,0,0,.18) 0 2px 4px;
		outline: none;
		transform: scale(1.04);
		transition: box-shadow .2s;
	}
	&:focus[data-focus-visible-added] {
		background-color: #fff;
		border-color: #222;
		box-shadow: #222 0 0 0 1px,#fff 0 0 0 4px,rgba(0,0,0,.18) 0 2px 4px;
		outline: none;
		transform: scale(1.04);
		transition: box-shadow .2s;
	}
	&:disabled {
		background-color: #fff;
		border-color: #ddd;
		box-shadow: none;
		color: #ddd;
		cursor: not-allowed;
		opacity: .5;
		transform: scale(1);
	}
	&:active {
		background-color: #fff;
		box-shadow: none;
		color: #000;
		transform: scale(1);
	}
}
span._3hmsj {
	box-sizing: border-box;
}
div.nphto6n.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	line-height: 20px;
	pointer-events: auto;
}
div#title_553449454187790697.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_6823091.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_34444025.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_29773703.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_42250159.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_41015249.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_46695796.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_45465864.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_28540017.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div.cnjlbcx.rztl681.dir.dir-ltr {
	box-sizing: border-box;
	color: #222;
	display: grid;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-template-areas: "header" "scroller" "footer";
	grid-template-columns: 300.797px;
	grid-template-rows: 0 285.75px 0;
	line-height: 20px;
}
div#title_12363894.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_40012920.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_31381204.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_46327689.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_13783.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_29642943.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_34594127.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_20471955.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_4594196.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div#title_44523010.t1jojoys.dir.dir-ltr {
	-webkit-box-orient: vertical;
	box-sizing: border-box;
	color: #222;
	display: -webkit-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
div.c1pbo4kt.l179zchc.dir.dir-ltr {
	--transition-element_transition-delay: 0ms;
	--transition-element_transition-duration: 200ms;
	box-sizing: border-box;
	color: #222;
	content-visibility: visible;
	flex-direction: column;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-column-end: 2;
	grid-column-start: 1;
	grid-row-end: 2;
	grid-row-start: 1;
	height: 100%;
	line-height: 20px;
	margin: 0;
	opacity: 1;
	padding-top: 0;
	visibility: visible;
	z-index: 2;
	div {
		box-sizing: border-box;
	}
}
div.c1l1h97y.l1aqx8qh.cikyho8.dir.dir-ltr {
	--transition-element_transition-delay: 0ms;
	--transition-element_transition-duration: 200ms;
	box-sizing: border-box;
	color: #222;
	display: none;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	grid-column-end: 2;
	grid-column-start: 1;
	grid-row-end: 2;
	grid-row-start: 1;
	line-height: 20px;
	opacity: 0;
	visibility: hidden;
}
@media (prefers-reduced-motion: reduce) {
	span._8kplbn {
		animation: none 0s;
		opacity: .0904977;
	}
	a.lwm61be.dir.dir-ltr {
		&:focus-visible {
			transition: none 0s;
		}
		&:focus[data-focus-visible-added] {
			transition: none 0s;
		}
	}
	button.b1lx45fx.v1qb14d3.dir.dir-ltr {
		transition: none 0s;
		&:focus-visible {
			transition: none 0s;
		}
		&:focus[data-focus-visible-added] {
			transition: none 0s;
		}
	}
	div._1b2klj3 {
		transition: none 0s;
	}
	span._4o74ccl {
		transition: none 0s;
	}
	span._1k9ksvh {
		transition: none 0s;
	}
	button._1d3iagv {
		transition: none 0s;
		&:focus-visible {
			transition: none 0s;
		}
		&:focus[data-focus-visible-added] {
			transition: none 0s;
		}
	}
}
@media (hover: hover) {
	button._1d3iagv {
		&:hover {
			background-color: #fff;
			box-shadow: transparent 0 0 0 1px,transparent 0 0 0 4px,rgba(0,0,0,.12) 0 6px 16px;
			color: #000;
			transform: scale(1.04);
		}
	}
}






.toy-list {
    margin: rem(30px);
    display: flex;
    gap: 50px;
    
    .toy-preview {
        align-items: center;
        margin: unset;
        padding: unset;
        gap: rem(20px);
        font-size: 18px;
        p, h4 {
            margin: unset;
            padding: unset;
        
        }
    
        .toy-img {
            width: rem(300px);
            aspect-ratio: 1/1;
        }

        .toy-preview-btns {
            align-items: center;
            gap: rem(10px);
           
        }

        .toy-preview-btn {
            // border: 1px solid $clr7;
            border-radius: rem(5px);
            color: $txt-clr3;
            cursor: pointer;
            // font-family: baloo;
            // font-size: 12px;
        }
    }
}

.toy-btn-add {
    // border: 1px solid $clr7;
    border-radius: rem(5px);
    color: $txt-clr2;
    cursor: pointer;
}
